#company {
	background-color: rgba(0, 0, 0, 0.8);
		color: white;
	padding: 20px 0;
	font-size: .8rem;
}

#company h4 {
	text-transform: uppercase;
	margin-bottom: 0;
}

#company ul {
	padding: 0;
	list-style: none;
	line-height: 1.5em;
}

#company a {
	text-decoration: none;
	color: white;
}

@media(max-width:740px) {
	
}