#company {
	background-color:#3B3E45;
	opacity: .99;
	color: #EFE6DA;
	padding: 20px 0;
	font-size: .8rem;
}

#company h4 {
	text-transform: uppercase;
	margin-bottom: 0;
}

#company ul {
	padding: 0;
	list-style: none;
	line-height: 1.5em;
}

#company a {
	text-decoration: none;
	color: #EFE6DA;
}

@media(max-width:740px) {}
