#features h2 {
	font-size: 32px;
	margin: 20px;
	padding-bottom: 10px;
}

#features p {
	color: #595C53;
	margin: 0;
	margin-bottom: 50px;
}

#features .fa {
	font-size: 70px;
	color: #BA907A;
}

.row-icons {
	margin: 50px 0;
}