#features h2 {
	font-size: 32px;
	margin: 20px;
	padding-bottom: 10px;
	color: #595C53;
}

#features p {
	color: #595C53;
	font-size: 1rem;
	margin: 15px;
	margin-bottom: 40px;
}

#features .fa {
	font-size: 50px;
	color: #BA907A;
}

.row-icons {
	margin: 50px 0;
}

#features .fa.main {
	font-size: 30px;
	color: #595C53;
}

@media(max-width:740px) {
	
	#features h2 {
	font-size: 1.3rem;
	margin: 30px 0;
	color: #595C53;
}
	
	#features  p {
	font-size: .9rem;
	color: #595C53;
	margin: 0;
	margin-bottom: 30px;
}
	
	.row-icons {
	margin: 0;
}
	
	#features .fa {
	font-size: 40px;
	color: #BA907A;
	margin: 10px;
}

}