#features {
	background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	-webkit-box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
-moz-box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
margin-bottom: 20px;
padding: 30px 0;

}



#features h2 {
	font-size: 32px;
	margin: 20px;
	padding-bottom: 10px;
	color: #595C53;
}

#features p {
	color: #595C53;
	font-size: 1rem;
	margin: 15px;
	margin-bottom: 40px;
}

#features .fa {
	font-size: 60px;
	color: #BA907A;
}

.row-icons {
	margin: 50px 0;
}

#features .fa.main {
	font-size: 30px;
	color: #595C53;
}

@media(max-width:740px) {

	#features h2 {
		font-size: 1.3rem;
		margin: 30px 0;
		color: #595C53;
	}

	#features p {
		font-size: .9rem;
		color: #595C53;
		margin: 0;
		margin-bottom: 30px;
	}

	.row-icons {
		margin: 0;
	}

	#features .fa {
		font-size: 40px;
		color: #BA907A;
		margin: 10px;
	}

}
