html {
	background: url(../../images/wood_14.jpg);
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 50px auto;
	padding: 0;
	max-width: 1200px;
}

img {
	width: 100%;
}

@media(max-width:740px) {
	body {
		margin: 10px;
	}
}

@media(max-width:1200px) {
	body {
		margin: 20px;
	}
}