html {
	background: url(../../images/wood_12.jpg);
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 50px auto;
	padding: 0;
	max-width: 1200px;
	text-align: center;
}

img {
	width: 100%;
}

@media(max-width:740px) {
	body {
		margin: 10px;
	}
}