#navbar {
	text-transform: uppercase;
	font-size: 15px;
}

#navbar ul {
	list-style: none;
	padding: 0;
	float: right;
	}

#navbar ul li {
	display: block;
	position: relative;
	float: left;
	background-color: white;
}

#navbar ul ul > li {
	background-color: #BCD5D1;
}

#navbar li ul {
	display: none;
}

#navbar ul li a {
	display: block;
	padding: 10px;;
	text-decoration: none;
	white-space: nowrap;
	color: black;
	text-align: left;
}

#navbar ul li a:hover {
	background:  #BA907A;
	color: white;
}

#navbar li:hover > ul {
	display: block;
	position: absolute;
}

#navbar li:hover li {
	float: none;
}

#navbar ul ul ul {
	left: 100%;
	top: 0;
}

@media(max-width:500px) {
	
	#navbar ul {
		float: none;
	}
}