#page {
	padding: 60px 20px;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
	box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
	margin-bottom: 20px;
}

#page h3 {
	font-size: 1.3rem;
}

#page p {
	font-size: .9rem;
}

#page .gallery_text {
	text-align: center
}