#showcase {
	margin: 0;
	margin-bottom: 50px;
}

#showcase .row {
	height: auto;
}

#showcase  .container {
	overflow: hidden;
	z-index: -1;
	width: 100%;
	margin: 0;
	padding: 0;
}

#showcase img {
	
}

