#showcase {
	border-bottom: 1px solid #BA907A;
	margin-bottom: 50px;
}

#showcase .row {
	height: auto;
}

#showcase  .container {
	overflow: hidden;
	z-index: -1;
	width: 100%;
}

#showcase img {
	
}

