.showcase-slideshow-container {
	position: relative;
	margin: 0 auto;
	padding: 0;
	z-index: -5;
	width: 101%;
}

.showcase-slideshow-container .content {
	position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
		background: #3B3E45;
		 /* Black background with 0.5 opacity */
		color: #EFE6DA;
		opacity: .9; /* Grey text */
    width: 94.4%; /* Full width */
    padding: 40px; /* Some padding */
		text-align: center;
	overflow-x: hidden;
}

@media(max-width:740px) {
	
	.showcase-slideshow-container .content {
		font-size: .7rem;
		padding: 10px;
		bottom: -5%;
	}
}



