#showcase {
	margin: 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	-webkit-box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
-moz-box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
}


#showcase  .container {
	overflow: hidden;
	z-index: -1;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

#showcase *{
	max-height: 75vh;
	max-width: 1400px;
}

@media(max-width:740px) {
	#showcase {
		height: auto;
		margin-bottom: 0;
	}
}