
#subheader {
	z-index: -1;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
	box-shadow: 10px 13px 42px -1px rgba(0,0,0,0.38);
	margin-bottom: 20px;
	height: 60vh;
}

#subheader .row {
	height: 60vh;
	}

#subheader .subh {

	padding:30px;
}

#subheader .gallery {
	height: 30vh;
	padding-top: 90px;
}

#subheader p {
	font-size: 1rem;
	padding: 10px;
}


#subheader h1 {
	font-size: 2rem;
	padding: 10px
}

#subheader a {
	font-size: 1rem;
	padding: 10px;
	color: #312C32;
}

@media(max-width:1000px) {
	
	#subheader {
		padding-top: 20px;
	}

	#subheader h1 {
		font-size: 1.5rem;
	}

	#subheader p {
		font-size: .8rem;
	}
	
	#subheader.subh {
		padding: 10px 10px;
}
	#subheader .row {
	height: auto;
	}


}
