body {
	font-family: 'Open-sans', sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

img {
	width: 100%
}

.container {
	margin: auto;
}

/* COMMON CLASSES */

.primary-text {
	color: #BA907A;
}

.primary-background {
	background: #BA907A;
}

/* HEADER */
#main-header {
	border-bottom: 1px solid #BA907A;
	}

#main-header .logo {
	font-family: fantasy
}

/* NAVBAR */
#navbar {
	text-transform: uppercase;
	font-size: 15px;
}

#navbar ul {
	list-style: none;
	padding: 0;
	float: right;
	}

#navbar ul li {
	display: block;
	position: relative;
	float: left;
	background-color: white;
}

#navbar ul ul > li {
	background-color: #BCD5D1;
}

#navbar li ul {
	display: none;
}

#navbar ul li a {
	display: block;
	padding: 10px;;
	text-decoration: none;
	white-space: nowrap;
	color: black;
	text-align: left;
}

#navbar ul li a:hover {
	background:  #BA907A;
	color: white;
}

#navbar li:hover > ul {
	display: block;
	position: absolute;
}

#navbar li:hover li {
	float: none;
}

#navbar ul ul ul {
	left: 100%;
	top: 0;
}

/* SHOWCASE */
#showcase {
	background: url(../images/office.jpg) no-repeat center center;
	border-bottom: 1px solid #BA907A;
	margin-bottom: 30px;
}

#showcase .row {
	height: 600px
}

#showcase h1 {
	font-size: 50px;
	margin: 0;
	padding-bottom: 20px;
	font-weight: 300;
}

#showcase p {
	color: #595C53;
	margin: 0;
}

#showcase .showcase-content {
	background: #BCD5D1;
	color: white;
	border-radius: 90px;
	padding: 40px;
	opacity: 0.9;
}

/* FEATURES */
#features h2 {
	font-size: 32px;
	margin: 0;
	padding-bottom: 10px;
}

#features p {
	color: #595C53;
	margin: 0;
	margin-bottom: 40px;
}

#features .fa {
	font-size: 60px;
	color: #BA907A;
	
}

/* INFO */
#info {
	background: url(../images/room.jpg) no-repeat center center;
	padding-bottom: 20px;
}

#info h2 {
	font-size: 45px;
	margin: 0;
	padding-bottom: 10px;
	color: white
}

#info ul {
	list-style: none;
	color: white;
	padding: 0;
}

#info li {
	line-height: 2em;
	font-size: 20px;

}

/* COMPANY */
#company {
	background-color: black;
		color: white;
	padding: 10px 0;
}

#company h4 {
	text-transform: uppercase;
	margin-bottom: 0;
}

#company ul {
	padding: 0;
	list-style: none;
	line-height: 2em;
}

#company input[type="text"]{
	padding: 7px;
}

#company button {
	background: #BA907A;
	color: white;
	padding: 10px;
	border: 0;
}

/* FOOTER */

#main-footer {
	background:  #BA907A;
	color: white;
}

/* PAGE */

#page {
	margin-bottom: 40px;
}

/* SERVICES */
.projects ul li {
		list-style: none;
		padding: 10px;
}

.projects ul li:nth-child(odd) {
	background: #BCD5D1;
	color: white;
}

.projects ul li:nth-child(even) {
	background: black;
	color: white;
}

/* CONTACT */
.contact form {
	background: #BCD5D1;
	padding: 20px;
}

.contact form input[type="text"]{
	width: 50%;
	height: 30px;
}

.contact form textarea{
	width: 50%;
	height: 100ox;
}

.contact form button {
	width: 50%;
	padding: 10px 0;
	border: 0;
	background: #BA907A;
	color: white;
}

.contact form label {
	text-transform: uppercase;
	color: white;
}

/* MEDIA QUERIES */
@media(max-width:800px) {
	#showcase h1 {
		font-size: 30px;
	}
}

@media(max-width:500px) {
	#showcase .showcase-content{
		padding: 40px 10px;
	}
	
	#navbar ul {
		float: none;
	}
}